<a href="https://colab.research.google.com/github/luisriego/Analise-de-dados-com-Python-e-Pandas/blob/main/Aula_8_analise_exploratoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [2]:
# Upload de arquivos
from google.colab import files
arq = files.upload()

Saving AdventureWorks.xlsx to AdventureWorks.xlsx

In [3]:
# Criar o dataframe
df = pd.read_excel("AdventureWorks.xlsx")

In [4]:
df.head()

  Data Venda Data Envio  ID Loja  ...            Marca   Classe  Cor
0 2008-05-09 2008-05-29      199  ...  Adventure Works  Regular  Red
1 2008-05-12 2008-05-17      306  ...  Adventure Works  Regular  Red
2 2008-05-14 2008-05-20      306  ...  Adventure Works  Regular  Red
3 2008-05-21 2008-05-27      306  ...  Adventure Works  Regular  Red
4 2008-06-20 2008-06-27      306  ...  Adventure Works  Regular  Red

[5 rows x 16 columns]

In [5]:
# Quantidade de linhas e colunas
df.shape

(904, 16)

In [7]:
# Verificação tipo de datos
df.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                    int64
ID Produto                 int64
ID Cliente                 int64
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
dtype: object

In [8]:
# Qual a receita total
df["Valor Venda"].sum()

5984606.1426

In [10]:
# Criamos a coluna custo
df["Custo"] = df["Custo Unitário"].mul(df["Quantidade"])

In [11]:
df.head()

  Data Venda Data Envio  ID Loja  ...   Classe  Cor    Custo
0 2008-05-09 2008-05-29      199  ...  Regular  Red  2091.48
1 2008-05-12 2008-05-17      306  ...  Regular  Red  2091.48
2 2008-05-14 2008-05-20      306  ...  Regular  Red  2091.48
3 2008-05-21 2008-05-27      306  ...  Regular  Red  2091.48
4 2008-06-20 2008-06-27      306  ...  Regular  Red  2091.48

[5 rows x 17 columns]

In [13]:
# Custo total
round(df["Custo"].sum(),2)

2486783.05

In [14]:
df["Lucro"] = df["Valor Venda"] - df["Custo"]

In [15]:
df.head(1)

  Data Venda Data Envio  ID Loja  ID Produto  ...   Classe  Cor    Custo    Lucro
0 2008-05-09 2008-05-29      199         384  ...  Regular  Red  2091.48  2456.52

[1 rows x 18 columns]

In [16]:
# Total de lucro
round(df["Lucro"].sum(),2)

3497823.09

In [ ]:
# Coluna com total de dias para enviar um pedido