<a href="https://colab.research.google.com/github/luisriego/Analise-de-dados-com-Python-e-Pandas/blob/main/pandas_init.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importando Pandas
import pandas as pd

In [5]:
df = pd.read_csv("/content/drive/MyDrive/Dev/DIO/Carrefour Bank Data Egenieer Bootcamp/AnaÃÅlise de dados com Python e Pandas/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Gapminder.csv", sep=";")

In [6]:
# Visualizar as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106